<h1>Stupid coaching</h1>

<%= @question%>
<%= @answer %>

<%= link_to "Ask a new question", ask_path%>

<figure>
      <blockquote class=“blockquote”>
        <p><strong><%=params[:question]%></p>
      </blockquote>
      <figcaption class=“blockquote-footer”>
        You
      </figcaption>
    </figure class=“bg-warning”>
      <blockquote class=“blockquote”>
        <p><strong><%=@answer%></p>
      </blockquote>
      <figcaption class=“blockquote-footer”>
        Coach
      </figcaption>
    </figure>
